* {
    z-index: 100;
}

.background {
    z-index: -1;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 19vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title {
    color: #ffffff;
    font-size: 4em;
    font-family: 'Great Vibes', cursive;
}

nav {
    font-family: 'Roboto', sans-serif;
}

nav a {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color: #ffffff;
}

.principal {
    height: 81vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.principal a img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000090;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s ease;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    white-space: nowrap;
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.icons-header {
    position: absolute;
    left: 35px;
    top: 32px;
    font-size: 30px;
}

.down {
    position: absolute;
    top: 90%;
    left: 48%;
    font-weight: 1px;
    font-size: 50px;
    animation-duration: 2s;
    animation-name: down;
    animation-iteration-count: infinite;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffffaa;
}

@keyframes down {
    from {
        color: #ffffff00;
        top: 90%;
        left: 48%;
        font-size: 50px;
    }
    50% {
        color: #ffffff;
    }
    to {
        color: #ffffff00;
        top: 93%;
    }
}

.contact {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: fixed;
    right: 35px;
    top: 32px;
    color: #ffffff;
    background-color: #00000020;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #ffffff;
    padding: 10px;
    z-index: 500;
}

html {
    scroll-behavior: smooth;
}

.secondary {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
    margin-bottom: 2%;
    margin-top: 1%;
}

.secondary .container {
    min-width: 280px;
    min-height: 200px;
    width: 320px;
    margin: 2px;
}

.secondary a img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-box {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.text-box p {
    font-size: 22px;
}

.text-box h1 {
    font-family: 'Roboto', sans-serif;
}

.text-box {
    display: flex;
    flex-direction: row;
}

.text-box img {
    max-width: 35%;
}

.right img {
    max-width: 100%;
}

.left {
    margin: 10px;
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
}

h1,
p {
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: center;
}

.deep {
    background-color: rgba(0, 0, 0, 0.6);
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.deep p {
    color: #ffffff;
}

.icons-footer {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.icons-footer div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.icons-footer div a {
    padding: 15px;
}

.body {
    background-color: #ffffff;
    padding-left: 10vh;
    padding-right: 10vh;
}

@media only screen and (max-width: 767px) {}